button.btn {
  margin-right: 5px;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #ccc;
  background-color: white;
  margin-bottom: 2px;

  &:hover {
    border-bottom: 3px solid #ccc;
    margin-bottom: 0px;
  }

  &:active {
    background-color: #ccc;
    color: white;
  }
}
