.card {
  position: relative;
  margin: 20px 0;
  box-shadow: 1px 1px 5px #ccc;
  background-color: white;

  h3 {
    color: black;
  }

  .right {
    flex-grow: 1;
    margin-left: 20px;
  }

  .content {
    display: flex;
    padding: 20px;
  }

  .identicon {
    border-radius: 100px;
  }

  .vendor {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
  }

  .footer {
    padding: 0 20px 20px 20px;
  }

}