* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(250, 250, 250);
}

input:not([type='radio']), textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
  margin: 0;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }
}

.clickable {
  cursor: pointer;
}

.secondary {
  font-size: 14px;
  color: #ccc;
}

#page-title {
  margin: 10px 0;
  font-size: 18px;
  margin-bottom: -10px;
}

