<script>
  import Navbar from './Navbar.vue';
  import Sidebar from './Sidebar.vue';
  import Options from './Options.vue';
  import Loader from './Loader.vue';
  import Market from '../services/Market';
  import Catalog from '../services/Catalog';
  import Ledger from '../services/Ledger';
  import Directory from '../services/Directory';
  import Chain from '../services/Chain';
  import { EventBus } from '../eventbus.js';

  export default {
    name: "app",

    components: {
      Navbar,
      Sidebar,
      Loader,
      Options
    },

    data: function () {
      return {
        maxGasLimit: null,
        optionsVisible: false
      }
    },

    mounted: async function () {

      this.startLoad(true);

      // Initialize connection to blockchain
      let account = await Chain.init();
      let provider = Chain.getProvider();

      // Initialize contracts
      await Market.init(provider, account);
      let catalogAddress = await Market.getCatalog();
      await Catalog.init(provider, account, catalogAddress);
      let ledgerAddress = await Market.getLedger();
      await Ledger.init(provider, account, ledgerAddress);
      let directoryAddress = await Market.getDirectory();
      await Directory.init(provider, account, directoryAddress);
      
      this.stopLoad();
      EventBus.$emit('web3initialized', account);
      this.$store.commit('UPDATE_ACCOUNT', account);
      this.maxGasLimit = await Chain.getMaxGasLimit();
    }
  }
</script>

<template>
  <div id='app'>
    <navbar></navbar>
    <options v-if='optionsVisible && maxGasLimit' :maxGasLimit='maxGasLimit'></options>
    <div id='under-nav'>
      <sidebar id='sidebar'></sidebar>
      <div id='wrapper'>
        <router-view id='content'></router-view>
        <div id='footer'>
          <div class='secondary'>
            Etherbay is a <b>decentralized e-commerce platform</b> (d-commerce for short) built on the Ethereum blockchain <i class="material-icons">favorite</i>
          </div>
        </div>
      </div>
      <div id='right-pad'></div>
    </div>
    <Loader v-if='loading'></Loader>
  </div>
</template>


<style lang='scss' scoped>

  #app {
    height: 100%;
  }

  #under-nav {
    display: flex;
    padding-top: 75px;
    height: 100%;

    #sidebar, #right-pad {
      flex: 1;
    }

    #wrapper {
      flex-basis: 900px;
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    #content {
      flex: 1;
      margin-bottom: 50px;
    }

    #footer {
      min-height: 50px;
      text-align: center;

      .material-icons {
        font-size: inherit;
      }
    }
  }

</style>

