<script>
  import blockies from 'blockies'

  export default {

    name: 'Identicon',

    props: [
      'input',
      'size',
      'className',
      'scope'
    ],

    mounted() {
      let _this = this;

      let identicon = blockies({ // All options are optional
          seed: _this.input, // seed used to generate icon data, default: random
          scale: _this.size, // width/height of each block in pixels, default: 4
      });

      _this.className.split(' ').forEach((c) => identicon.classList.add(c));
      identicon.setAttribute(_this.scope, '');

      _this.$refs.identicon.parentNode.replaceChild(identicon, _this.$refs.identicon);
    }
  };
</script>

<template>
  <div ref='identicon'></div>
</template>

<style lang="css" scoped>
</style>