<script>
  import Chain from '../services/Chain'
  import Catalog from '../services/Catalog'
  import Ledger from '../services/Ledger'
  import Listing from './Listing.vue'
  import Loader from './Loader.vue'
  import Order from './Order.vue'
  import Review from './Review.vue'
  import { EventBus } from '../eventbus.js'

  export default {

    name: 'List',

    data() {
      return {
        items: [],
        title: '',
        reviews: [],
        empty: false
      }
    },

    props: [
      'config'
    ],

    components: {
      Listing,
      Loader,
      Order,
      Review
    },

    methods: {

      search: async function() {
        let query = this.$route.params.queryString.toLowerCase().split(' ').filter(e => e.length).map(el => web3.toHex(el));
        this.items = await Catalog.search(query);
      },

      getListings: async function() {
        this.items = await Catalog.getFromVendor(this.$route.params.address);
        this.title = 'Listings by ' + this.$route.params.address;
      },

      getListing: async function() {
        this.items = [await Catalog.get(this.$route.params.id)];
        this.title = this.items[0].title;
      },

      getPurchases: async function() {
        this.items = await Ledger.getPurchases();
      },

      getSales: async function() {
        this.items = await Ledger.getSales();
      },

      getReviews: async function() {
        this.items = await Catalog.getUserReviews(this.$route.params.address, this.config.received);
      },

      handleParams: function() {
        let _this = this;

        _this.items = [];

        switch (_this.config.type) {
          case 'Listing':
            if (_this.$route.params.address) {
              Chain.afterDeploy(Catalog, _this.loadAction(_this.getListings));
            } else if (_this.$route.params.id) {
              Chain.afterDeploy(Catalog, _this.loadAction(_this.getListing));
            } else if (_this.$route.params.queryString) {
              _this.title = 'Search results for: ' + _this.$route.params.queryString;
              Chain.afterDeploy(Catalog, _this.loadAction(_this.search));
            }
            break;
          case 'Order':
            if (_this.$route.name == 'purchases') {
              Chain.afterDeploy(Ledger, _this.loadAction(_this.getPurchases));
              _this.title = 'Purchases';
            } else if (_this.$route.name == 'sales') {
              Chain.afterDeploy(Ledger, _this.loadAction(_this.getSales));
              _this.title = 'Sales';
            }
            break;
          case 'Review':
            Chain.afterDeploy(Catalog, _this.loadAction(_this.getReviews));
        }
      },

      afterLoad() {
        this.empty = !this.items || !this.items.length;
      },

      redraw: () => this.handleParams
    },

    mounted() {
      this.handleParams();
    },

    watch: {
      '$route.params'() {
        this.handleParams();
      }
    }

  }
</script>

<template>
  <div>
    <h3 id='page-title' v-if='config.display !== "Condensed"' v-text='title'></h3>
    <div id='list-container' :class='{ grid: config.display === "Tile", loading }'>
      <div class='center' v-if='empty'>
        Nothing here.
      </div>
      <div v-for='item in items' class='list-item'>
        <component :is='config.type' :model='item' :display='config.display' inlist='true'></component>
      </div>
      <Loader v-if='loading' noscrim='true'></Loader>
    </div>
  </div>
</template>

<style lang='scss' scoped>

  #list-container{
    &.grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-column-gap: 2rem;
      position: relative;
    }

    &.loading {
      height: 100%;
    }
  }

  .list-item {
    flex-basis: 32%;
  }

  .center {
    padding: 50px;
    text-align: center;
    color: #ccc;
    flex-grow: 1;
  }

</style>
