<script>
  import Catalog from '../services/Catalog'
  import Ledger from '../services/Ledger'
  import Chain from '../services/Chain'
  import Identicon from './Identicon.vue'
  import Loader from './Loader.vue'
  import Review from './Review.vue'
  import { EventBus } from '../eventbus.js'

  export default {
    name: 'Result',

    components: {
      Identicon,
      Loader,
      Review
    },

    data() {
      return {
        reviews: []
      }
    },

    props: {
      model : {
        default() {
          return {};
        }
      },
      display : {
        default() {
          return false;
        }
      }
    },

    methods: {
      placeOrder() {
        let _this = this;

        let place = async function () {
          await Ledger.placeOrder(_this.model.id, web3.toWei(_this.model.price, 'ether'));
        }

        _this.loadAction(place, false, Ledger, 'OrderPlaced', this.routes.viewPurchases)();
      },

      randomImage() {
        return 'https://unsplash.it/400/400?random&' + Math.random();
      },

      getReviews: async function() {
        this.reviews = await Catalog.getReviews(this.model.id);
      },

    },

    mounted: async function() {
      if (this.display === 'Expanded') {
        await this.getReviews();
      }
    }
  };
</script>

<template>
  <div :class='{ card: display !== "Condensed", tile: display === "Tile", condensed: display === "Condensed" }'>
    <div class='tile-image clickable' @click='routes.viewListing(model.id)' :style="{ backgroundImage: `url(${randomImage()})` }"></div>
    <div class='content'>
      <div class='image clickable' @click='routes.viewListing(model.id)' :style="{ backgroundImage: `url(${randomImage()})` }"></div>
      <div>
        <Identicon v-if='model.owner' :input='model.owner' size='12' className='identicon large clickable' :scope='$options._scopeId'></Identicon>
      </div>
      <div class='right'>
        <h3><span v-text='model.title' @click='routes.viewListing(model.id)' :class='{ clickable: display !== "Expanded" }'></span></h3>
        <div v-text='model.price.toFixed(2) + " ETH"'></div>
        <div v-text='`${model.rating}% positive (${model.reviewCount} reviews)`' class='secondary'></div>
        <div v-text='model.description' v-if='display !== "Tile"'></div>
        <div class='vendor secondary clickable' @click.stop='routes.viewAccount(model.owner)'>
          <Identicon v-if='model.owner' :input='model.owner' size='4' className='identicon small' :scope='$options._scopeId'></Identicon>
          <div>
            <div class='byline' v-text='model.identity.alias ? model.identity.alias : model.owner'></div>
            <div v-if='display === "Expanded"' v-text='model.identity.vendorRep + " reputation"'></div>
          </div>
        </div>
        <div class='buy'>
          <button @click.stop='placeOrder' class='btn'>Buy</button>
        </div>
      </div>
    </div>
    <div v-if='display === "Expanded"' class='footer'>
      <h3 id='review-title'>Reviews</h3>

      <div v-for='review in reviews'>
        <Review :model='review'></Review>
      </div>
      <div v-if='!reviews.length'>
        No reviews yet.
      </div>
    </div>
    <Loader v-if='loading'></Loader>
  </div>
</template>

<style lang='scss' scoped>
  .card {

    .image {
      width: 200px;
      height: 200px;
    }

    .tile-image {
      display: none;
    }

    .identicon {
      margin-right: 20px;

      &.small {
        margin-right: 10px;
      }
    }

    .buy {
      padding: 25px 0 0;
    }
  }

  .tile, :not(.condensed) {
    .identicon.large {
      display: none;
    }
  }

  .condensed {
    .vendor {
      display: none;
    }

    .buy {
      display: none;
    }

    .image {
      width: 100px;
      height: 100px;
    }
  }

  .card.tile {
    margin: 20px 0 0;

    .image {
      display: none;
    }

    .tile-image {
      display: block;
      width: 100%;
      height: 200px;
      background-size: cover;
    }

    .content {
      padding: 10px 20px 20px;
    }

    .right {
      margin: 0;
    }

    .buy {
      text-align: center;

      .btn {
        width: 100%;
      }
    }

    .byline {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }

  }

</style>
