<script>
  import Chain from '../services/Chain';
  import Catalog from '../services/Catalog';
  import Loader from './Loader.vue';

  export default {

    name: 'ListingForm',
    components: {
      Loader
    },
    data () {
      return {
        input: {
          title: '',
          description: '',
          price: 0
        },
        gasEstimate: 0,
        ethUSD: 0
      };
    },

    computed: {
      estimateETH: function () {
        return this.gasEstimate * .00000002; 
      },

      estimateUSD: function () {
        return (this.estimateETH * this.ethUSD).toFixed(2);
      },

      title() {
        return web3.toHex(this.input.title);
      },

      description() {
        return web3.toHex(this.input.description);
      },

      price() {
        return this.input.price ? web3.toWei(Number.parseFloat(this.input.price), 'ether') : 0;
      },

      tags: function () {
        return this.input.title.toLowerCase().split(' ').filter(e => e.length).map(el => web3.toHex(el));
      }
    },

    methods: {
      fetchETHUSD: async function() {
        let response = await fetch('http://api.gdax.com/products/ETH-USD/stats');
        let json = await response.json();
        this.ethUSD = json.last;
      },

      calculateEstimate: async function() {
        this.gasEstimate = await Catalog.estimate(this.title, this.description, this.tags, this.price);
      },

      submitListing() {
        let _this = this;

        let submit = async function () {
          await Catalog.add(_this.title, _this.description, _this.tags, _this.price);
        }

        let success = (result) => _this.routes.viewListing(result.args.id)

        _this.loadAction(submit, false, Catalog, 'ListingPosted', success)();
      }
    },

    mounted: function () {
      this.fetchETHUSD();
    }

  };
</script>

<template>
  <div>
    <div class='card' id='listing'>
      <div class='content'>

        <div id='column-left'>
          <label>Image</label>
          <img id='thumbnail'>
        </div>

        <div id='column-right'>
          <div>
            <label>Title</label>
            <input v-model='input.title' @change='calculateEstimate'/>
            <label>Description</label>
            <textarea v-model='input.description' @change='calculateEstimate'/>
            <label>Price</label>
            <input v-model='input.price' @change='calculateEstimate'/>
          </div>
        </div>
      </div>
      <div class='footer'>
        <span v-if='input.title || input.price || input.description'>
          Estimate:
          <span v-text='estimateETH'></span> ETH
          (about $<span v-text='estimateUSD'></span>)
        </span>
        <button @click='submitListing'>
          Submit
        </button>
      </div>
      <Loader v-if='loading'></Loader>
    </div>
  </div>
</template>

<style lang="scss" scoped>

  div#listing {
    flex-grow: 1;
    padding: 20px;

    .content {
      display: flex;
      padding: 0;

      #column-right {
        flex-grow: 1;
      }

      img#thumbnail {
        width: 200px;
        height: 200px;
        margin-right: 20px;
      }
    }

    .footer {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

</style>