<script>
  import Identicon from './Identicon.vue'
  import Search from './Search.vue'
  import { EventBus } from '../eventbus.js'

  export default {
    name: 'Navbar',

    data() {
      return {
        account: null
      }
    },

    components: {
      Identicon,
      Search
    },

    mounted() {
      let _this = this;
      EventBus.$on('web3initialized', (account) => {
        _this.account = account;
      });
    }
  }
</script>

<template>
  <div id='bar'>
    <div id='nav-wrap'>
      <router-link to='/home'>
      etherbay
      </router-link>
      <div id='action-wrap'>
        <Search></Search>
        <router-link :to="'/post'">
          <button class='nav-action'>
            <i class="material-icons">add</i>
          </button>
        </router-link>

        <span @click='routes.viewAccount(account)'>
          <Identicon v-if='account' :input='account' size='4' className='identicon clickable' :scope='$options._scopeId'></Identicon>
        </span>
      </div>

    </div>
  </div>
</template>

<style lang='scss' scoped>

  #bar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    line-height: 40px;
    font-size: 24px;
    background-color: white;
  }

  #nav-wrap {
    width: 900px;
    margin: auto;
    display: flex;
  }

  #action-wrap {
    flex-grow: 1;
    text-align: right;
  }

  .nav-action {
    background: none;
    border: none;
    height: 100%;
    padding: 0;
  }

  .identicon {
    border-radius: 20px;
    vertical-align: sub;
    margin-left: 10px;
  }

</style>
