<script>
  import vueSlider from 'vue-slider-component';

  export default {
    name: 'Options',

    components: {
      vueSlider
    },

    data: function () {
      return {
        gas: {
          price: 20,
          minPrice: 1,
          maxPrice: 50,
          limit: 100000,
          minLimit: 1
        }
      }
    },

    props: [
      'maxGasLimit'
    ],

    methods: {}
  }
</script>

<template>
  <div>
    <div>
      Gas price
      <vue-slider 
        v-model='gas.price'
        :min='gas.minPrice'
        :max='gas.maxPrice'
        tooltipDir='bottom'
        >
        </vue-slider>
      </div>
    <div>
      Gas limit
      <vue-slider 
        v-model='gas.limit'
        :min='gas.minLimit'
        :max='maxGasLimit'
        tooltipDir='bottom'
        >
        </vue-slider>
      </div>
  </div>
</template>

<style lang='scss' scoped>

</style>