<script>
  import Catalog from '../services/Catalog'
  import Ledger from '../services/Ledger'
  import Identicon from './Identicon.vue'
  import Loader from './Loader.vue'
  import { EventBus } from '../eventbus.js'
  import moment from 'moment'

  export default {
    name: 'Order',

    components: {
      Identicon,
      Loader
    },

    data() {
      return {
        states: [
          'Created',
          'Canceled',
          'Finalized',
          'Refunded'
        ],
        reviewing: false,
        review: {
          text: '',
          satisfied: true
        }
      }
    },

    computed: {
      balance() {
        return (this.model.balance ? web3.fromWei(this.model.balance, 'ether') : 0).toFixed(2);
      },
      state() {
        return this.states[this.model.stateId];
      },
      date() {
        return moment.unix(this.model.dateIso).format('LLL');
      }
    },

    props: {
      model : {
        default() {
          return {};
        }
      }
    },

    methods: {
      actions() {
        let _this = this;
        return [
          {
            name: 'Finalize',
            condition() {
              return _this.isPurchase() && _this.state === 'Created';
            },
            action: async function () {
              await _this.model.instance.finalize();
            }
          },
          {
            name: 'Cancel',
            condition() {
              return _this.isPurchase() && _this.state === 'Created';
            },
            action: async function () {
              await _this.model.instance.withdraw();
            }
          },
          {
            name: 'Refund',
            condition() {
              return _this.model.balance > 0 && _this.isSale() && _this.state === 'Finalized';
            },
            action: async function () {
              await _this.model.instance.refund();
            }
          },
          {
            name: 'Withdraw funds',
            condition() {
              return _this.model.balance > 0 && (  (_this.isSale() && _this.state === 'Finalized') || ( _this.isPurchase() && (_this.state === 'Created' || _this.state === 'Refunded') )  );
            },
            action: async function () {
              await _this.model.instance.withdraw();
            }
          },
          {
            name: 'Review',
            condition() {
              return _this.isPurchase() && _this.state === 'Finalized' && !_this.model.reviewed && !_this.reviewing;
            },
            action: async function () {
              _this.reviewing = true;
            }
          }
        ]
      },
      isPurchase() {
        return this.model.customer == this.$store.state.account; 
      },
      isSale() {
        return this.model.vendor == this.$store.state.account;
      },

      // TODO: redraw function
    }
  };
</script>

<template>
  <div class='card'>
    <div class='content'>
      <div @click='routes.viewListing(model.listingId)'>
        <Identicon v-if='model.vendor' :input='model.vendor' size='12' className='identicon clickable' :scope='$options._scopeId'></Identicon>
      </div>
      <div class='right'>
        <div class='details'>
          <h3 v-text='model.title' @click='routes.viewListing(model.listingId)' class='clickable'></h3>
          <div v-text='model.price.toFixed(2) + " ETH"'></div>
          <div v-text='date'></div>
          <div class='secondary'>
            <div>
              Vendor: 
              <span @click='routes.viewAccount(model.vendor)' v-text='model.vendor' class='clickable'></span>
            </div>
            <div>
              Balance: 
              <span v-text='balance'></span>
            </div>
            <div>
              State: 
              <span v-text='state'></span>
            </div>
          </div>
        </div>
        <button v-for='action in actions()' v-if='action.condition()' @click='loadAction(action.action)()' v-text='action.name' class='btn'></button>
        <form v-if='reviewing' class='review-form'>

          <div class='radio-container'>
            <input type='radio' id='satisfied' value='true' v-model='review.satisfied'>
            <label for='satisfied'>Satisfied</label>

            <input type='radio' id='dissatisfied' value='false' v-model='review.satisfied'>
            <label for='dissatisfied'>Dissatisfied</label>
          </div>

          <textarea v-model='review.text'></textarea>

          <button @click='loadAction(submitReview)()' class='btn'>Submit Review</button>
        </form>
      </div>
    </div>
    <Loader v-if='loading'></Loader>
  </div>
</template>

<style lang='scss' scoped>

  .details {
    margin-bottom: 10px;
  }

  .radio-container {
    margin-bottom: 10px;
  }

  textarea {
    resize: vertical;
  }

</style>
