<script>
  import Chain from '../services/Chain'
  import Catalog from '../services/Catalog'
  import Directory from '../services/Directory'
  import List from './List.vue'
  import Identicon from './Identicon.vue'
  import Loader from './Loader.vue'
  import { EventBus } from '../eventbus.js'

  export default {

    name: 'Profile',

    data() {
      return {
        title: '',
        address: null,
        user: null,
        listings: [],
        reviews: {
          received: [],
          left: []
        },
        newAlias: '',
        editingAlias: false,
        aliasInvalid: false,
        tabs: [
          {
            name: 'Listings',
            component: 'List',
            config: {
              type: 'Listing',
              display: 'Condensed'
            }
          },
          {
            name: 'Reviews Received',
            component: 'List',
            config: {
              type: 'Review',
              received: true,
              display: 'Condensed'
            }
          },
          {
            name: 'Reviews Left',
            component: 'List',
            config: {
              type: 'Review',
              received: false,
              display: 'Condensed'
            }
          },
          {
            name: 'Stats',
            component: 'Statistics',
            config: {
              type: 'User'
            }
          }
        ],
        currentTab: 'Listings'
      }
    },

    components: {
      List,
      Identicon,
      Loader
    },

    methods: {

      getListings: async function() {
        this.listings = await Catalog.getFromVendor(this.address);
      },

      getUser: async function() {
        this.user = await Directory.get(this.address);
      },

      setAlias: async function() {
        let _this = this;
        _this.aliasInvalid = false;

        if (!(await Directory.exists(_this.newAlias))) {

          let set = async function () {
            await Directory.add(_this.newAlias);
          }

          _this.loadAction(set, true, Directory, 'AliasUpdated')();
        } else {
          _this.aliasInvalid = true;
        }
      },

      isUser() {
        return this.address == this.$store.state.account;
      },

      handleParams: function() {
        let _this = this;
        _this.listings = [];

        if (_this.$route.params.address) {
          _this.address = _this.$route.params.address;
          Chain.afterDeploy(Catalog, _this.getListings);
          Chain.afterDeploy(Directory, _this.getUser);
          this.title = 'User ' + _this.address;
          this.editingAlias = false;
        }
      },

      redraw: () => this.handleParams
    },

    mounted() {
      let _this = this;
      _this.handleParams();
    },

    watch: {
      '$route.params'() {
        this.handleParams();
      }
    }

  }
</script>

<template>
  <div>
    <h3 id='page-title' v-text='title'></h3>
    <div v-if='user' class='card'>
      <div class='content'>
        <div>
          <Identicon v-if='address' :input='address' size='12' className='identicon' :scope='$options._scopeId'></Identicon>
        </div>
        <div class='right'>
          <h3>
            <span v-if='!editingAlias' v-text='user.alias || address'></span>
            <span v-if='isUser() && !editingAlias && !user.alias' class='clickable' @click='editingAlias = true'><i class="material-icons">mode_edit</i></span>
            <input v-if='editingAlias' v-model='newAlias' type='text' @change='setAlias' :class='{ invalid: aliasInvalid }'/>
          </h3>
          <div v-text='"Vendor reputation: " + user.vendorRep'></div>
          <div v-text='"Customer reputation: " + user.customerRep'></div>
        </div>
      </div>
      <div class='footer'>
        <div class='tab-container'>
          <span v-for='t in tabs' class='tab clickable' :class='{ active: currentTab === t.name }' v-text='t.name' @click='currentTab = t.name'></span>
        </div>
        <div class='tab-panel'>
          <component v-for='t in tabs' :key='t.name' :is='t.component' :config='t.config' v-if='currentTab === t.name'></component>
        </div>
      </div>
      <Loader v-if='loading'></Loader>
    </div>
  </div>
</template>

<style lang='scss' scoped>

  .tab-container {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .tab {
    padding: 10px 11px;

    &.active {
      padding: 10px;
      background-color: white;
      border: 1px solid #ccc;
      border-bottom: 1px solid white;
    }
  }

  .invalid {
    color: red;
  }

</style>
