<script>
  import Catalog from '../services/Catalog'
  import Identicon from './Identicon.vue'
  import moment from 'moment'

  export default {

    name: 'Review',

    data() {
      return {
        listingTitle: null
      }
    },

    components: {
      Identicon
    },

    props: {
      model: {
        default() {
          return {};
        }
      },
      inlist: {
        default() {
          return false;
        }
      }
    },

    computed: {
      date() {
        return moment.unix(this.model.dateIso).format('LLL');
      }
    },

    mounted: async function () {
      if (this.inlist) {
        this.listingTitle = await Catalog.getTitle(this.model.listingId);
      }
    }

  };
</script>

<template>
  <div class='content'>
    <div>
      <Identicon v-if='model.customer' :input='model.customer' size='4' className='identicon clickable' :scope='$options._scopeId'></Identicon>
    </div>

    <div class='right'>
      <div v-text='model.text'></div>
      <div class='secondary'>
        <div v-text='model.customer' class='clickable' @click='routes.viewAccount(model.customer)'></div>
        <div v-text='date'></div>
        <div v-text='listingTitle' v-if='listingTitle' class='clickable' @click='routes.viewListing(model.listingId)'></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .identicon {
    margin-top: 5px;
  }
  
  .right {
    flex-grow: 1;
    margin-left: 10px;
  }

  .content {
    display: flex;
  }

</style>