<script>
  import Chain from '../services/Chain'

  export default {

    name: 'Search',

    data: function () {
      return {
        queryString: ''
      };
    }

  }
</script>

<template>
  <div id='search-container'>
    <input id='input-search' placeholder='Search...' v-model='queryString' @keydown.enter='routes.search(queryString)'/>
    <i @click='routes.search(queryString)' class='material-icons clickable'>search</i>
  </div>
</template>


<style lang='scss' scoped>

  #search-container {
    position: relative;
    display: inline-block;
    width: 400px;
    top: -5px;
    margin-bottom: -10px;

    input {
      border: none;
      border-bottom: 1px solid #ccc;
    }

    i {
      position: absolute;
      left: 10px;
      top: 12px;
    }
  }

  #input-search {
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 0;
  }

</style>

