<script>
  import { EventBus } from '../eventbus.js'

  export default {

    name: 'sidebar',

    data() {
      return {
        currentState: 'default'
      };
    },

    mounted() {
      let _this = this;

      EventBus.$on('web3initialized', (account) => {
        _this.account = account;
      });
    }

  };
</script>

<template>
  <div id='sidebar'>
    <ul>

      <router-link to='/sales'>
        <li class='clickable'>
          <span>Sales</span>
          <i class="material-icons">attach_money</i>
        </li>
      </router-link>

      <router-link to='/purchases'>
        <li class='clickable'>
          <span>Purchases</span>
          <i class="material-icons">shopping_cart</i>
        </li>
      </router-link>

      <router-link to='/settings'>
        <li class='clickable'>
          <span>Settings</span>
          <i class="material-icons">settings</i>
        </li>
      </router-link>

    </ul>
  </div>
</template>

<style lang="scss" scoped>
  #sidebar {
    display: flex;
    flex-direction: row-reverse;
  }

  ul {
    list-style: none;
    margin: 50px 0;
    position: fixed;
  }

  li {
    padding: 5px 25px 5px 20px;
    text-align: right;
    white-space: nowrap;

    i {
      vertical-align: sub;
      font-size: 18px;
    }

    &:hover {
      color: rgb(100, 100, 100);
      border-left: 5px solid #eee;
      padding-left: 15px;
    }
  }


</style>